.schoolsPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3%;
}
.title{
    text-align: center;
    display: flex;
    justify-content: center;
}
.schoolsPageTitle{
    margin: 2%;
    font-size: 200%;
    width: 20%;
    text-align: center;
}

.ant-list-item-meta-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2%;
}

.schoolsTrainers{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.schoolsButtons{
    width: 50px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.schoolsCard{
    transition: all .2s ease-in-out; 
    font-weight: 600;
}

.schoolsCard:hover{
   transform: scale(1.05); 
   box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.hover-3 {
    --b: 0.1em;   /* the thickness of the line */
    --c: #7814ff; /* the color */
    
    color: #0000;
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
.hover-3:hover {
    --_p: 100%;
    --_s: .3s;
  }

.ant-card-body{
    background-color: #eae7e7;
    font-weight: 700;
}

.schoolCardFooter{
    color: rgb(55, 55, 55)
}

.schoolCardMeta{
    cursor: pointer;
}
