.event-img{
    width: 100%;
    float: left;
}

.img-title{
    display: flex;
    flex-wrap: wrap;
   align-items: center;
}

.title-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;
}

.img-title > h1 {
    margin: 2%;
}

.event-title, .event-description{
    text-align: justify;
}

.participate-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:2%;
}