.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-now-button {
    margin-top: 3%;
}

.input-field{
    width: 30%;
}
.log-in-title{
    margin-bottom: 3%;
    margin-top: 30%;
    /* font-size: 200%; */
}

.login-img{
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
} 
.ant-form{
    width: 80%;
}